VisualElement {
}

#top {
    flex-shrink: 0;
    flex-grow: 1;
}

#bottom {
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
}

#bottom > #left {
}

#bottom > #right {
    width: 56%;
    flex-grow: 0;
    opacity: 0.6%;
    background-color: navy;
    color: white;
    
    -unity-text-outline-width: 0.8px;
    -unity-text-outline-color: black;
}


